In [ ]:
Datatypes

1.str--->("affan") 2.int--->(20) 3.float--->(19.99) 4.Boolean--->(true or false)

In [4]:
age = 25

print(age)

25

In [3]:
name = "affan"

print(type(name),name)

<class 'str'> affan

In [5]:
price = 21.99

print(type(price),price)

<class 'float'> 21.99

In [3]:
is_student =True

print(type(is_student),is_student)

<class 'bool'> True

CASTING

Changinng the datatypes

In [18]:
a = 20
b = str("25")

print(f"age:{b},type:{type(b)}")

age:25,type:<class 'str'>

In [1]:
a = "25"
b = int("25")

print(f"age:{b},type:{type(b)}")

age:25,type:<class 'int'>

In [ ]:
a = "20.88"
price =float(a)
print(f"price:{price},type:{type(price)}")

In [ ]:
price = 20.88
price_int =int(price)
print(f"price_int:{price_int},type:{type(price_int)}")

In [1]:
a=10
b=3

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

13
7
30
3.3333333333333335
1

In [ ]:
x=5 
y=10

print(x==y) #false
print(x!=y) #true
print(x<y)
print(x>y)

In [ ]:
x=10
y=10

print(x==y)
print(x<=y)

In [ ]:
a = False
b = True

#when both the number is True the print statment reture true else it  is fals

print(a and b)

# or when ether one of the statment is true the pirnt statment else

print(a or b)


print(not a)

In [ ]:
a = 10
b=10

a+=10

b%=5

print(a)
print(b)

In [ ]:
fruits = ("apple","banna","grapess")

print("banna" in fruits)

print("apple" in fruits)

In [10]:
row = 10

for i in range(1,row+1):
   for j in range(row-i):
    print("",end="")
for j in range(2*i-1):
  print("*",end="")
print()

*******************

In [5]:
row = int(input("enter number:"))

for i in range(1,row+1):
  for j in range(row-i):
    print(" ",end="")
  for j in range(2*i-1):
    print("*",end="")
  print()

    *
   ***
  *****
 *******
*********

In [6]:
list1 = [1,2,3]
list2 = [4,5,6]
list3 = list1+list2

concad_list = list3
print(concad_list)

[1, 2, 3, 4, 5, 6]

In [4]:
list1 = [1,2,3]

repeated_list = list1*2
print(repeated_list)

[1, 2, 3, 1, 2, 3]

In [5]:
tup = (1,"hiii",3.5)
print(tup)
print(tup[2])

(1, 'hiii', 3.5)
3.5

In [5]:
tup1 =  (1,2,3)
tup2 =  (4,5,6)
concad_tup = tup1 + tup2
print(concad_tup)

(1, 2, 3, 4, 5, 6)

Unpacking the tuple

In [6]:
mu_tuple =  ("apple","grapess","banana","kivi","mango")
fruit1,fruit2,fruit3 = mu_tuple
print(fruit1)

apple

In [ ]:
nested_tup = (1,(2,3),(4,5,6))
print(nested_tup[1])
print(nested_tup[1][1])

In [ ]:
my_tuple = (1,2,3,4,5,6,6,1,2,2,2,3,4,7)
print(my_tuple.count(2))
print(my_tuple.index(2))
print(my_tuple.index(3))
print(my_tuple.index(5))

In [ ]:
my_set = {1,2,3,4,5,6,6}
print(my_set)

In [ ]:
sets1 = {1,2,3,4,"kar"}
sets1.add(1)
print(sets1)

In [6]:
sets1 ={1,2,3,4,5,6}
sets2 ={2,3,4,5,6,7,8}
union_set = sets1.union(sets2)
intersection_set = sets1.intersection(sets2)
dif_set=sets2.difference(sets2)
print(dif_set)

set()

In [1]:
name=input()
age= input()

print("My name is", name)
print("My age is", age)

My name is Affan
My age is 23

In [4]:
name=input()
age= input()
Address=input()

print("My name is", name)
print("My age is", age)
print("My Addres is", Address)

My name is Affan
My age is 23
My Addres is Chennai

In [10]:
a=int(input())
b=int(input())
c=int(input())
d=a*b*c
e=a+b+c
f=d/e


print(f)

2.6666666666666665

In [11]:
name=input()
score=int(input())
department=input()

print("my name is", name)
print("my score is", score/10)
print("my department is",department)

my name is Affan
my score is 0.5
my department is Computer

In [2]:
len=(["hello",2,4,6])
print(type(len))

<class 'list'>

In [2]:
x='Affan Ahmed'
for i in x:
    print(i.upper())

A
F
F
A
N

A
H
M
E
D

In [9]:
i = 1  
while True:  # Use 'True' instead of 'true'  
    if i % 3 == 0:  
        break  
        print(i)
        
    i += 1  # Make sure to increment 'i' to avoid an infinite loop

In [13]:
x = "56.233"  # Example string  
print("%.2f" % float(x))  # Convert x to float

56.23