In [ ]:
pathon with

In [1]:
import pandas as pd

data = {
    'Name' : ['affan','suresh','ramesh'],
    'Age' : [23,24,25],
    'city' : ['chennai','madurai','vellor'],
    }

df = pd.DataFrame(data)

print(df)

     Name  Age     city
0   affan   23  chennai
1  suresh   24  madurai
2  ramesh   25   vellor

In [ ]:
import numpy as ny